<div class="new_text_img_col">
    {% if section.settings.title != blank %}
      <div class="new_text_img_col_heading">
        {{ section.settings.title }}
      </div>
    {% endif %}
    <div class="new_text_img_col_inner">
      <div class="new_text_img_col_single text_col">
        
        {% if section.settings.logo != blank %}
          <div class="new_text_img_col_logo">
            <img src="{{ section.settings.logo | img_url:'master' }}">
          </div>
        {% endif %}
        {% if section.settings.des != blank %}
        <div style="position:relative">
          <div class="top_icon">
            <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 448 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><style>svg{fill:#ffffff}</style><path d="M0 216C0 149.7 53.7 96 120 96h8c17.7 0 32 14.3 32 32s-14.3 32-32 32h-8c-30.9 0-56 25.1-56 56v8h64c35.3 0 64 28.7 64 64v64c0 35.3-28.7 64-64 64H64c-35.3 0-64-28.7-64-64V320 288 216zm256 0c0-66.3 53.7-120 120-120h8c17.7 0 32 14.3 32 32s-14.3 32-32 32h-8c-30.9 0-56 25.1-56 56v8h64c35.3 0 64 28.7 64 64v64c0 35.3-28.7 64-64 64H320c-35.3 0-64-28.7-64-64V320 288 216z"/></svg>
          </div>
            <div class="new_text_img_col_des">
              {{ section.settings.des }}
            </div>
          
          <div class="bottom_icon">
            <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 448 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><style>svg{fill:#ffffff}</style><path d="M448 296c0 66.3-53.7 120-120 120h-8c-17.7 0-32-14.3-32-32s14.3-32 32-32h8c30.9 0 56-25.1 56-56v-8H320c-35.3 0-64-28.7-64-64V160c0-35.3 28.7-64 64-64h64c35.3 0 64 28.7 64 64v32 32 72zm-256 0c0 66.3-53.7 120-120 120H64c-17.7 0-32-14.3-32-32s14.3-32 32-32h8c30.9 0 56-25.1 56-56v-8H64c-35.3 0-64-28.7-64-64V160c0-35.3 28.7-64 64-64h64c35.3 0 64 28.7 64 64v32 32 72z"/></svg>
          </div>
        </div>
        {% endif %}
        
          {% if section.settings.name != blank %}
            <div class="new_text_img_col_name">
              {{ section.settings.name }}
            </div>
          {% endif %}
          {% if section.settings.designation != blank %}
            <div class="new_text_img_col_designation">
              {{ section.settings.designation }}
            </div>
          {% endif %}
        
      </div>
      <div class="new_text_img_col_single img_col">
        {% if section.settings.model != blank %}
          <div class="new_text_img_col_model">
            <img src="{{ section.settings.model | img_url:'master' }}">
            <div class="hero__button">
              <a href="{{ section.settings.btn_link | default:'/collections/all' }}" class="button button--filled button--uppercase">{{ section.settings.btn_text }}</a>
            </div>
          </div>
        {% endif %}
      </div>
    </div>
</div>
<style>

  .new_text_img_col_single.img_col {
    position: relative;
  }
  .new_text_img_col_single.img_col .hero__button {
    position: absolute;
    left: 50%;
    bottom: 50px;
    transform: translateX(-50%);
  }
  .new_text_img_col {
    margin: 50px auto;
    max-width: 992px;
  }
  .new_text_img_col .new_text_img_col_heading {
    color: #dc3b9d;
    text-align: center;
    margin: 0 auto;
    font-size: 24px;
    font-weight: 600;
    line-height: 25px;
  }
  .new_text_img_col .new_text_img_col_inner{
    display:grid;
    grid-template-columns: 50% 50%;
  margin-top:50px;
  }
  .new_text_img_col .new_text_img_col_single.text_col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #e9e9e7;
    padding: 35px;
}

  .new_text_img_col .new_text_img_col_logo {
    max-width: 150px;
}
  .new_text_img_col .new_text_img_col_des p,.new_text_img_col .new_text_img_col_des {
    text-transform: none;
    color: #000;
  font-size:14px;
    position: relative;
    z-index: 1;
}
  .new_text_img_col .new_text_img_col_designation {
    width: 100%;
    font-size: 19px;
    color: #000;
    margin-top: -10px;
}
  .new_text_img_col .new_text_img_col_name {
    margin-top:30px;
    width: 100%;
    font-family: 'operetta_32medium';
    font-size: 30px;
    color: #000;
}
  .new_text_img_col .new_text_img_col_single.img_col .new_text_img_col_model img{
    max-width:100%;
    height: 100%;
    object-fit: cover;
  }
  .new_text_img_col .new_text_img_col_model {
    display: flex;
    align-items: center;
    height: 100%;
    object-fit: cover;
}
   .new_text_img_col .top_icon {
    position: absolute;
    font-size: 75px;
    z-index: 0;
    top: -15px;
    left: -10px;
    opacity: 0.5;
}
  .new_text_img_col  .bottom_icon{
    position: absolute;
    font-size: 75px;
    z-index: 0;
    right: -10px;
    bottom: 0px;
    opacity: 0.5;
  }
  @media only screen and (max-width:768px){
    .new_text_img_col .new_text_img_col_inner{
      grid-template-columns: 1fr;
    }
    .new_text_img_col .new_text_img_col_heading {
      font-size: 20px;
      line-height: 20px;
    }
    .new_text_img_col .new_text_img_col_single.text_col {
        padding: 35px 15px;
    }
    .new_text_img_col .new_text_img_col_designation {
        font-size: 16px;
    }
    .new_text_img_col .new_text_img_col_name {
        font-size: 20px;
    }
  }
</style>
{% schema %}
{
  "name": "New Image Text",
  "settings": [
    {
      "type": "richtext",
      "id": "title",
      "label":"Heading Text",
      "default": "<p>PROUDLY SUPPORTING FRAN DRESCHER'S CANCER SCHMANCER MOVEMENT! SITE WIDE: 15% OF SALES WILL BE ALLOCATED TO SUPPORTING CANCER SCHMANER UNTIL THE END OF OCTOBER!</p>"
    },
    {
     "type": "image_picker",
     "id": "model",
     "label": "Model"
    },
    {
     "type": "image_picker",
     "id": "logo",
     "label": "Logo"
    },
    {
      "type": "richtext",
      "label":"Description",
      "id": "des",
      "default": "<p>PROUDLY SUPPORTING FRAN DRESCHER'S CANCER SCHMANCER MOVEMENT! SITE WIDE: 15% OF SALES WILL BE ALLOCATED TO SUPPORTING CANCER SCHMANER UNTIL THE END OF OCTOBER!</p>"
    },
    {
      "type": "text",
      "id": "name",
      "label": "Name",
      "default": "ANDRÉA BERNHOLTZ"
    },
        {
      "type": "text",
      "id": "designation",
      "label": "Designation",
      "default": "DESIGNER & CEO, SWIMINISTA"
    },
    {
      "type": "text",
      "id": "btn_text",
      "label": "Button Text",
      "default": "SHOP ALL"
    },
    {
      "type": "url",
      "id": "btn_link",
      "label": "Button link"
    }
  ],
  "presets": [
    {
      "name": "New Image Text"
    }
  ]
}
{% endschema %}
