<div class="new_text_img_col">
    {% if section.settings.title != blank %}
      <div class="new_text_img_col_heading">
        {{ section.settings.title }}
      </div>
    {% endif %}
    <div class="new_text_img_col_inner">
      <div class="new_text_img_col_single text_col">
        {% if section.settings.logo != blank %}
          <div class="new_text_img_col_logo">
            <img src="{{ section.settings.logo | img_url:'master' }}">
          </div>
        {% endif %}
        {% if section.settings.des != blank %}
          <div class="new_text_img_col_des">
            {{ section.settings.des }}
          </div>
        {% endif %}
        {% if section.settings.name != blank %}
          <div class="new_text_img_col_name">
            {{ section.settings.name }}
          </div>
        {% endif %}
        {% if section.settings.designation != blank %}
          <div class="new_text_img_col_designation">
            {{ section.settings.designation }}
          </div>
        {% endif %}
      </div>
      <div class="new_text_img_col_single img_col">
        {% if section.settings.model != blank %}
          <div class="new_text_img_col_model">
            <img src="{{ section.settings.model | img_url:'master' }}">
          </div>
        {% endif %}
      </div>
    </div>
</div>
<style>
  .new_text_img_col {
    margin: 50px auto;
    max-width: 992px;
  }
  .new_text_img_col .new_text_img_col_heading {
    color: #dc3b9d;
    text-align: center;
    margin: 0 auto;
    font-size: 24px;
    font-weight: 600;
    line-height: 25px;
  }
  .new_text_img_col .new_text_img_col_inner{
    display:grid;
    grid-template-columns: 50% 50%;
  }
  .new_text_img_col .new_text_img_col_single.text_col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #e9e9e7;
    padding: 35px;
}

  .new_text_img_col .new_text_img_col_logo {
    max-width: 150px;
}
  .new_text_img_col .new_text_img_col_des p {
    text-transform: none;
    color: #000;
}
  .new_text_img_col .new_text_img_col_designation {
    width: 100%;
    font-size: 20px;
    color: #000;
    margin-top: -10px;
}
  .new_text_img_col .new_text_img_col_name {
    text-align: left;
    width: 100%;
    font-family: var(--font-heading-family);
    font-size: 22px;
}
  .new_text_img_col .new_text_img_col_single.img_col .new_text_img_col_model img{
    max-width:100%;
    height: 100%;
    object-fit: cover;
  }
  .new_text_img_col .new_text_img_col_model {
    display: flex;
    align-items: center;
    height: 100%;
    object-fit: cover;
}
</style>
{% schema %}
{
  "name": "New Image Text",
  "settings": [
    {
      "type": "richtext",
      "id": "title",
      "label":"Heading Text",
      "default": "<p>PROUDLY SUPPORTING FRAN DRESCHER'S CANCER SCHMANCER MOVEMENT! SITE WIDE: 15% OF SALES WILL BE ALLOCATED TO SUPPORTING CANCER SCHMANER UNTIL THE END OF OCTOBER!</p>"
    },
    {
     "type": "image_picker",
     "id": "model",
     "label": "Model"
    },
    {
     "type": "image_picker",
     "id": "logo",
     "label": "Logo"
    },
    {
      "type": "richtext",
      "label":"Description",
      "id": "des",
      "default": "<p>PROUDLY SUPPORTING FRAN DRESCHER'S CANCER SCHMANCER MOVEMENT! SITE WIDE: 15% OF SALES WILL BE ALLOCATED TO SUPPORTING CANCER SCHMANER UNTIL THE END OF OCTOBER!</p>"
    },
    {
      "type": "text",
      "id": "name",
      "label": "Name",
      "default": "ANDRÉA BERNHOLTZ"
    },
        {
      "type": "text",
      "id": "designation",
      "label": "Designation",
      "default": "DESIGNER & CEO, SWIMINISTA"
    }
  ],
  "presets": [
    {
      "name": "New Image Text"
    }
  ]
}
{% endschema %}
